

p{
  text-align: center;
  font-size: 100px;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background: linear-gradient(45deg,yellowgreen,lightblue);
}

h2{
  text-align: center;
  font-size: 5em;
}

h2 span{
  animation: animate 4s linear infinite;
}

h2 span:nth-child(1){
  animation-delay: 0s;
}
h2 span:nth-child(2){
  animation-delay: 0.1s;
}
h2 span:nth-child(3){
  animation-delay: 0.2s;
}
h2 span:nth-child(4){
  animation-delay: 0.3s;
}
h2 span:nth-child(5){
  animation-delay: 0.4s;
}
h2 span:nth-child(6){
  animation-delay: 0.5s;
}
h2 span:nth-child(7){
  animation-delay: 0.5s;
}
h2 span:nth-child(8){
  animation-delay: 0.6s;
}
h2 span:nth-child(9){
  animation-delay: 0.7s;
}
h2 span:nth-child(10){
  animation-delay: 0.8s;
}
h2 span:nth-child(11){
  animation-delay: 0.9s;
}

@keyframes animate {
  0% , 100%{
      color: white;
      filter: blur(2px);
      text-shadow: 0 0 10px yellow,
      0 0 20px yellow,
      0 0 40px yellow,
      0 0 80px yellow,
      0 0 120px yellow,
      0 0 200px yellow,
      0 0 300px yellow,
      0 0 400px yellow;
      
  }

  25%,75%{
      color: black;
      filter: blur(0px);
      text-shadow: none
                
  }
}

a{
  font-size: large;
  border: solid 1px white;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  align-self: center;
  color: black;
  background-color: aquamarine;
} 

a:hover{
  color: white;
  background-color: cyan;
  box-shadow: 0 0 1px cyan,
  0 0 2px cyan, 0 0 8px cyan,
  0 0 16px cyan, 0 0 32px cyan;
}